.titulo{
    color:white ;
}
.boton{
    color: black;
    background-color: rgb(151, 240, 116);
    text-align: center;
}
.botonmod{
    background-color: rgb(151, 240, 116);
    color: #343a40;
    margin-left: 35%;
}