.titulo{
    color:white ;
}
.boton{
    color: black;
    background-color: rgb(151, 240, 116);
    text-align: center;
}
.botonmod{
    background-color: rgb(151, 240, 116);
    color: #343a40;
    
}
.negativo{
    background-color: rgb(175, 69, 69);
    color:white;
    margin-top:5rem;
    align-content: center;
}
.table{
    text-align:center;
}