
<!--PARA EL PRIMER LOGIN-->
<div *ngIf="num==-1" class="container-fluid">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 class="mt-5">Entra en Mascotilandia</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form #formulario="ngForm">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="username" maxlength="6" required placeholder="username" [(ngModel)]="username" >
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name="password" required placeholder="password" [(ngModel)]="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Recuérdame
					</div>
					<div class="form-group">
            <button type="reset" value="Borrar" class="btn float-right ml-1 login_btn">Borrar</button>
            <button type="submit" value="Entrar" (click)="entrarLogin()" class="btn float-right login_btn" [disabled]="!formulario.form.valid">Entrar</button>
            
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center pie">
					Una aplicación por y para mascotas
				</div>
				
			</div>
		</div>
	</div>
</div>

<!--SI ENTRA EL ADMIN <div class="d-flex justify-content-center h-100"> <div *ngIf="num==0" class="container-fluid">-->

	
	<div *ngIf="num==0" class="card2 container-fluid">
		<div class="card-header">
        	<h3 class="text-center">BIENVENIDO ADMINISTRADOR</h3>
        	<p class="text-center">¿Qué desea gestionar?</p>
			<div class="form-group botones">
			<button class="btn float ml-3 boton" (click)="abrirListadousuario()">Usuarios <i class="fas fa-users icono" ></i></button>
			<button class="btn float ml-3 boton" (click)="abrirListadomascota()">Mascotas <i class="fas fa-paw icono"></i></button>
			<button class="btn float ml-3 boton" (click)="cerrarApp()">Cerrar app <i class="fas fa-times-circle"></i></button>
        	</div>
		</div>
			<div class="card-body">
        
          
      		<router-outlet></router-outlet>	
			</div>
	</div>
	

<!--SI ENTRA UN USUARIO-->
<div *ngIf="num==1" class="container-fluid">
	
	<div class="todo d-flex justify-content-center h-100">
		<div class="card2">
			<div class="card-header enserio">
        <h3 class="text-center">BIENVENIDO {{username}}</h3>
        <p class="text-center">¿Qué desea hacer?</p>
		<div class="form-group botones">
			<button class="btn float  boton" (click)="listadoVenta()">Listado para la venta <i class="fas fa-paw icono"></i></button>
			<button class="btn float ml-3 boton"(click)="getTipo()" >Filtrar por tipo <i class="fas fa-search"></i></button>
			<button class="btn float ml-3 boton" (click)="listadoHistorico()">Histórico de ventas <i class="fas fa-list"></i></button>
			<button class="btn float ml-3 boton" (click)="cerrarApp()" >Cerrar app <i class="fas fa-times-circle"></i></button>
		  </div>
			</div>
			<div class="card-body lamierda">
        
			
     		 <router-outlet></router-outlet>	
			
		</div>
	</div>
	</div>
</div>





